//META{"name":"Neon Space","description":"Amazing theme if you love space and dark colors.","author":"CAtOSe","version":"0.1"}*//{}
/*

NOTE:	This theme is WIP!!!
		Use with caution, and don't expect full support until finished.

Main color:  #2bd1fc
Darker main: #1f92af
Theme by CAtOSe


MIT License

*/
@import url("https://rawgit.com/CAtOSe/Neon-Space-BetterDiscord-Theme/master/neon-space.min.css");